/api/app/data/bitmaps/*
/api/app/data/document_parts/*
/api/app/data/models/*
/api/app/data/snapshots/*
/api/app/ifcopenshell/
/api/app/logs/
/api/app/favicon.ico
/data/
/etc/
/neo4j/data/
/neo4j/import/
/neo4j/logs/
/neo4j/plugins/
/secrets/
/TODO.txt
/venv/
/.idea/


